.profile {
    display: grid;
    grid-template-columns: 150px repeat(3, 1fr);
    padding-bottom: 50px;
    box-sizing: border-box;
}

@media screen and (max-width: 768px) {
    .profile {
        display: flex;
        flex-direction: column;
        row-gap: 30px;
        align-items: center;
    }       
}