.element {
    background-color: white;
    border-radius: 10px;
    display: grid;
    min-width: 282px;
    min-height: 361px;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, min-content);
}